APP_NAME=Supermarket
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=supermarket
DB_USERNAME=supermarket
DB_PASSWORD=root

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

QUEUE_CONNECTION=redis

CACHE_DRIVER=redis
SESSION_DRIVER=redis

L5_SWAGGER_GENERATE_ALWAYS=true
